@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
    --background: #1ebaff;
    --dark: #2d2b2c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sacramento', cursive;
}

.container{    
    background: var(--background);
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-liquid{
    position: relative;
    background: var(--dark);
    border: 0.25rem solid var(--dark);
    width: 21rem;
    height: 30rem;
    outline: 0;    
    overflow: hidden;
}

.box-liquid::before {
    content: url(img/jdocdev.svg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-liquid::after{
    content: "";
    position: absolute;    
    background: var(--background);    
    height: 200%;
    width: 200%;
    bottom: -50%;
    left: -50%;
    border-radius: 40%;
    animation: spin 10s ease-out infinite;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--background);
    min-height: 20vh;
}

.footer a{
    font-size: 3rem;
    text-decoration: none;
    color: var(--dark);
    margin-right: 2rem;
}

.footer p{
    font-size: 3rem;
    color: var(--dark);
}

@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(-100%) rotate(-500deg);
    }
}

